<div class="container mt-5">
    <div class="row g-4">

        <div class="col-md-6">
            <div class="glass text-center">
                <h4>👥 Total Employees</h4>
                <h1>@ViewBag.TotalEmployees</h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="glass text-center">
                <h4>🏢 Departments</h4>
                <h1>@ViewBag.TotalDepartments</h1>
            </div>
        </div>

    </div>
</div>