@model StudentRegistration.Models.Student

<h2>Student Details</h2>

<p><b>ID:</b> @Model.Id</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Age:</b> @Model.Age</p>

<br>

<a href="/Student/Register">Register Another Student</a>