@model WebApplication1.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" value="@Model.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label>Salary</label>
        <input type="number" name="salary" value="@Model.salary" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>

<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>