@model StudentManagementMVC.Models.Product

<h2>Add Product</h2>

<form method="post">

    <input asp-for="Name" class="form-control mb-2" placeholder="Product Name" />
    <input asp-for="Price" class="form-control mb-2" placeholder="Price" />

    <button class="btn btn-success">Add</button>

</form>