<h2>Welcome @ViewBag.Username 👋</h2>

<a href="/Employee/Register" class="btn btn-success">Add Employee</a>
<a href="/HR/EmployeeList" class="btn btn-info">Employee List</a>
<a href="/HR/Reports" class="btn btn-warning">Reports</a>
<a href="/Account/Logout" class="btn btn-danger">Logout</a>