@model EmployeeManagementMVC.Models.Employee

<h2>Employee Registration</h2>

<form method="post">

    <input asp-for="Name" class="form-control mb-2" placeholder="Name" />
    <input asp-for="Age" class="form-control mb-2" placeholder="Age" />
    <input asp-for="Email" class="form-control mb-2" placeholder="Email" />
    <input asp-for="Department" class="form-control mb-2" placeholder="Department" />

    <button class="btn btn-success">Register</button>

</form>