@model IEnumerable<EmployeeProjectManagement.Models.Employee>

<h2 class="mt-3">Employees List</h2>

<a class="btn btn-primary mb-3" asp-action="Create">Add Employee</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Department?.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-warning">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>